<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--srv-devdoc Documents2011DMPZ-->
  <add name="Document2011" connectionString="Server=srv-devdoc;Database=Documents2011DMPZ;User ID=LocalAdmin;Password=12345; Application Name=&quot;Documents System 2012 DEV&quot;" providerName="System.Data.SqlClient" />
  <add name="DocumentsSecurity" connectionString="Server=srv-devdoc;Database=Documents2011DMPZ;User ID=LocalAdmin;Password=12345;Application Name=&quot;Documents System 2012 DEV&quot;" providerName="System.Data.SqlClient" />
  <add name="GPSRobot" connectionString="Server=srv-devdoc;Database=Documents2011DMPZ;User ID=LocalAdmin;Password=12345;Application Name=&quot;Documents System 2012 DEV&quot;" providerName="System.Data.SqlClient" />

  <!--<add name="Document2011" connectionString="Server=winsrv;Database=Documents2012MD;User ID=LocalAdmin;Password=12345qwert~;Application Name=&quot;Documents System 2012 DEV&quot;" providerName="System.Data.SqlClient" />
  <add name="DocumentsSecurity" connectionString="Server=winsrv;Database=Documents2012MD;User ID=LocalAdmin;Password=12345qwert~;Application Name=&quot;Documents System 2012 DEV&quot;" providerName="System.Data.SqlClient" />-->

  <!--Для локальной отладки-->
  <!--<add name="Document2011" connectionString="Server=.;Database=Documents2012;Integrated Security=True;User ID=LocalAdmin;Password=12345; Application Name=&quot;Documents System 2012 DEV&quot;" providerName="System.Data.SqlClient" />
  <add name="DocumentsSecurity" connectionString="Server=.;Database=Documents2012;Integrated Security=True;User ID=LocalAdmin;Password=12345;Application Name=&quot;Documents System 2012 DEV&quot;" providerName="System.Data.SqlClient" />-->
</connectionStrings>
