@using System.Globalization
@using BusinessObjects
@using DocumentsWeb.Models
@{
    bool haveCreate = WADataProvider.FolderElementRightView.IsAllow(BusinessObjects.Security.Right.DOCCREATE, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_TAX_CORIN).Id);
    bool haveEdit = WADataProvider.FolderElementRightView.IsAllow(BusinessObjects.Security.Right.DOCEDIT, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_TAX_CORIN).Id);
    bool haveDelete = WADataProvider.FolderElementRightView.IsAllow(BusinessObjects.Security.Right.DOCTRASH, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_TAX_CORIN).Id);
    bool haveView = WADataProvider.FolderElementRightView.IsAllow(BusinessObjects.Security.Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_TAX_CORIN).Id);
    
    int imageColumnWith = 0;
    if (haveView || haveEdit)
    {
        imageColumnWith = imageColumnWith + 20;
    }
    if (haveDelete)
    {
        imageColumnWith = imageColumnWith + 20;
    }
}
@Html.DevExpress().GridView(settings=>{
    settings.Settings.ShowTitlePanel = false;
    settings.SettingsText.Title = "Входящие корректировочные налоговые накладные";
    settings.Name = "gvTaxeDocuments";
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.SettingsPopup.CustomizationWindow.VerticalAlign = PopupVerticalAlign.Below;
    settings.SettingsPopup.CustomizationWindow.HorizontalAlign = PopupHorizontalAlign.OutsideRight;
    settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
    settings.SetTitlePanelTemplateContent(c =>
    {
        ViewContext.Writer.Write("<div style=\"width: 100%; text-align: center; font-size: 10pt;\">");
        Html.DevExpress().HyperLink(hl =>
        {
            hl.Properties.ImageUrl = Url.Content("~/Images/REFRESHGREEN_X16.png");
            hl.ToolTip = "Обновить";
            hl.Style.Add("float", "left");
            hl.NavigateUrl = "javascript:gvTaxesDocuments.PerformCallback('refresh=true');";
        }).Render();
        Html.DevExpress().HyperLink(hl =>
        {
            hl.Name = "TaxesCreate";
            hl.Properties.Text = "Создать";
            hl.NavigateUrl = DevExpressHelper.GetUrl(new { Area = "Taxes", Controller = "CorIn", Action = "Create" });
            hl.Properties.Target = "_blank";
            hl.ClientVisible = haveCreate;
            hl.ClientEnabled = haveCreate;
        }).Render();
        @Html.DevExpress().HyperLink(s =>
        {
            s.Style.Add("float", "right");
            s.Properties.Text = " вернутся в \"Налоговые документы\"";
            s.NavigateUrl = DevExpressHelper.GetUrl(new { Area = "Taxes", Controller = "Home", Action = "Index" }); 
        }).Render();
        ViewContext.Writer.Write("</div>");
    });

    settings.ClientSideEvents.Init = "function(s, e) { adjustSize(); }";
    settings.ClientSideEvents.EndCallback = "function (s, e) { adjustSize(); }";
    
    settings.CallbackRouteValues = new { Area = "Taxes", Controller = "ViewListCorIn", Action = "IndexPartial" };
    settings.SettingsEditing.DeleteRowRouteValues = new { Area = "Taxes", Controller = "ViewListCorIn", Action = "ToTrash" };
    
    settings.SettingsBehavior.AllowFocusedRow = true;
    settings.KeyFieldName = GlobalPropertyNames.Id;
    settings.Settings.ShowGroupPanel = DocumentsWeb.Code.LayoutHelper.GetCurrentSetting(Url.RequestContext.RouteData.Values["controller"].ToString()).Current.ShowGroupPanel;
    settings.Settings.ShowFooter = true;
    settings.Settings.ShowFilterRow = DocumentsWeb.Code.LayoutHelper.GetCurrentSetting(Url.RequestContext.RouteData.Values["controller"].ToString()).Current.ShowFilterPanel;
    settings.Settings.ShowFilterRowMenu = true;
    settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
    settings.SettingsPager.PageSize = Utils.GetPageSize(settings);
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Top;
    settings.SettingsPager.AlwaysShowPager = true;
    settings.SetPagerBarTemplateContent(c => Html.RenderPartial("TablePager", new ViewDataDictionary
                                                    {
                                                        { "ContentObject", c },
                                                        { "TableCaption", "<b><a href=\"" + Url.Action("Index", new { Controller = "Home" }) + "\">Налоговые</a>\\Входящие корректировочные налоговые накладные</b>" }
                                                        
                                                    }));
    settings.Settings.ShowVerticalScrollBar = true;
    settings.Settings.ShowHorizontalScrollBar = true;
    settings.Styles.Cell.Font.Size = System.Web.UI.WebControls.FontUnit.Point(11);
    settings.Styles.Cell.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(2);
    settings.Styles.Cell.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
    
    settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    
        settings.Columns.Add(cc =>
        {
            cc.Name = "colImageAction";
            cc.Settings.AllowDragDrop = DefaultBoolean.False ;
            cc.Settings.AllowSort = DefaultBoolean.False;
            cc.Width = System.Web.UI.WebControls.Unit.Pixel(imageColumnWith + 5);
            cc.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            cc.SetDataItemTemplateContent(c =>
            {
                string icon;
                int currentStateId = (int) DataBinder.Eval(c.DataItem, "StateId");
                if (currentStateId == State.STATEACTIVE)
                {
                    icon = Url.Content("~/Images/DOCUMENTDONE_X16.png");
                }
                else if(currentStateId== State.STATEDELETED) icon = Url.Content("~/Images/DOCUMENTTRASH_X16.png");
                else icon = Url.Content("~/Images/DOCUMENTNOTDONE_X16.png");

                
                Html.DevExpress().HyperLink(hl =>
                {
                    hl.Name = "TaxesDocumentEdit_" + c.ItemIndex.ToString(CultureInfo.InvariantCulture);
                    hl.Properties.ImageUrl = icon;
                    hl.ToolTip = "Просмотреть/Изменить";
                    hl.NavigateUrl = DevExpressHelper.GetUrl(new { Area = "Taxes", Controller = "CorIn", Action = "Edit", Id = c.KeyValue });
                    hl.Properties.Target = "_blank";
                    hl.ClientEnabled = haveEdit || haveView;
                    hl.ClientVisible = haveEdit || haveView;
                }).Render();
                                                            
                Html.DevExpress().HyperLink(hl =>
                {
                    hl.Name = "TaxesDocumentDelete_" + c.ItemIndex.ToString(CultureInfo.InvariantCulture);
                    hl.Properties.ImageUrl = Url.Content("~/Images/delete_x16.png");
                    hl.ToolTip = "Удалить";
                    hl.NavigateUrl = "javascript:if (confirm(\"Вы уверены, что хотите удалить этот документ?\")) {gvTaxeDocuments.DeleteRow(" + c.ItemIndex.ToString(CultureInfo.InvariantCulture) + ");}";
                    hl.ClientVisible = haveDelete;
                    hl.ClientEnabled = haveDelete;
                }).Render();
                                                            
            });
        });
    
    settings.Columns.Add(column =>
    {
        column.FieldName = GlobalPropertyNames.Date;
        column.Caption = "Дата";
        column.Width = 70;
        column.PropertiesEdit.DisplayFormatString = "d";
        column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
    });
    MVCxGridViewColumn colNumber = settings.Columns.Add("DocNumber", "Номер");
    colNumber.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
    colNumber.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    colNumber.Width = 70;
                
    
    settings.Columns.Add(column =>
    {
        column.FieldName = GlobalPropertyNames.DocSumma;
        column.Caption = "Сумма";
        column.Width = 70;
        column.ColumnType = MVCxGridViewColumnType.SpinEdit;
        column.PropertiesEdit.DisplayFormatString = "0.00";
        column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
    });


    settings.Columns.Add(column =>
    {
        column.FieldName = GlobalPropertyNames.AgentDepartmentFromId;
        column.Caption = "Кто";
        column.Width = 300;
        column.ColumnType = MVCxGridViewColumnType.HyperLink;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        HyperLinkProperties colProperties = column.PropertiesEdit as HyperLinkProperties;
        String urlFormatString = Url.Action("Preview", "MyDepatment", new RouteValueDictionary(new { Area = "Agents", id = "{0}" }));
        colProperties.NavigateUrlFormatString = HttpUtility.UrlDecode(urlFormatString);
        colProperties.Target = "_blank";
        colProperties.TextField = "AgentDepartmentFromName";
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = GlobalPropertyNames.AgentDepartmentToId;
        column.Caption = "Кому";
        column.Width = 300;
        column.ColumnType = MVCxGridViewColumnType.HyperLink;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        HyperLinkProperties colProperties = column.PropertiesEdit as HyperLinkProperties;
        String urlFormatString = Url.Action("Preview", "Byer", new RouteValueDictionary(new { Area = "Agents", id = "{0}" }));
        colProperties.NavigateUrlFormatString = HttpUtility.UrlDecode(urlFormatString);
        colProperties.Target = "_blank";
        colProperties.TextField = "AgentDepartmentToName";
    });

    settings.ClientSideEvents.ColumnResizing = "function (s, e) {if (e.column.name == 'colImageAction') {e.cancel = true;}}";
    settings.ClientSideEvents.Init = "function(s,e){s.ApplyFilter('StateId = 1');}";
    settings.CustomCallback = (sender, e) =>
    {
        MVCxGridView grid = (MVCxGridView)sender;
        string refreshArg = e.Parameters.Split('&').FirstOrDefault(s => s.StartsWith("refresh"));
        bool refresh = (refreshArg != null) && (refreshArg.EndsWith("true"));
        if (refresh)
        {
            grid.DataSource = TaxesHelper.GetDocumentsCor(true, Folder.CODE_FIND_TAX_CORIN, true);
        }
        grid.DataBind();
    };
}).Bind(Model).GetHtml()