@using BusinessObjects.Security
@using BusinessObjects.Web.Core
@using DocumentsWeb.Models
@{   
    bool haveCreate = WADataProvider.LibrariesElementRightView.IsAllow(Right.UICREATE, WebModuleNames.WEB_MYCOMPANY) && !WADataProvider.CommonRightView.ReadOnly;
    bool haveEdit = WADataProvider.LibrariesElementRightView.IsAllow(Right.UIEDIT, WebModuleNames.WEB_MYCOMPANY) && !WADataProvider.CommonRightView.ReadOnly;
    bool haveDelete = WADataProvider.LibrariesElementRightView.IsAllow(Right.UITRASH, WebModuleNames.WEB_MYCOMPANY) && !WADataProvider.CommonRightView.ReadOnly;
    bool haveView = WADataProvider.LibrariesElementRightView.IsAllow(Right.UIVIEW, WebModuleNames.WEB_MYCOMPANY);
    string helpDefaultLink = string.Empty;
    if (ViewData.ContainsKey("HelpDefaultLink"))
    {
        helpDefaultLink = ViewData["HelpDefaultLink"].ToString();
    }
}
<script src="@Url.Content("~/Scripts/jAgentActions.js")" type="text/javascript"></script>
<div id="divActions" style="width: 100%; height: 100%; overflow: auto;">
@Html.DevExpress().NavBar(
nbsettings =>
{
    nbsettings.Name = "nbFeatures";
    nbsettings.AllowExpanding = true;
    nbsettings.AllowSelectItem = true;
    nbsettings.AutoCollapse = false;
    nbsettings.EnableHotTrack = true;
    nbsettings.EnableAnimation = true;
    nbsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    nbsettings.EncodeHtml = false;
    nbsettings.SaveStateToCookies = true;
    nbsettings.SaveStateToCookiesID = Url.RequestContext.RouteData.Values["controller"] + "Nav";

    nbsettings.Groups.Add(group => {
        group.Text = "Наши предприятия";
        group.ToolTip = "Выполнение основных действий с справочнике наших предприятий: создание, редактирование, изменение состояний";
        group.ItemLinkMode = GroupItemLinkMode.TextAndImage;
        group.ItemStyle.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(2);
        group.ItemStyle.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(2);
        group.ItemStyle.CssClass = "navpanellink";
        group.HeaderImage.Url = Url.Content("~/Images/okey_x16.png");
        group.HeaderStyle.Font.Bold = true;

        MVCxNavBarItem item = group.Items.Add("Помощь", "mnuActionHelp", "~/Images/INFO_X16.png");
        item.ToolTip = "Показать справочную информацию";
        item.Image.Url = "~/Images/INFO_X16.png";
        if (string.IsNullOrEmpty(helpDefaultLink))
            item.NavigateUrl = "javascript:alert('Справочная информация отсутствует!');";
        else
        {
            item.Target = "_blank";
            item.NavigateUrl = helpDefaultLink.StartsWith("~/") ? Url.Content(helpDefaultLink) : helpDefaultLink;
        }
        
        if (haveCreate)
        {
            item = group.Items.Add("Создать", "mnuAdd", "~/Images/new_x16.png");
            item.NavigateUrl = "javascript:ShowPopupEdit(0);";
            item.ToolTip = "Создать новую компанию";

            item = group.Items.Add("Создать копию", "mnuAddCopy", "~/Images/copy_x16.png");
            item.NavigateUrl = "javascript:createCopy('MyDepatment');";
            item.ToolTip = "Создание копии текущего выделенную в списке компанию";
        }

        if (haveEdit)
        {
            item = group.Items.Add("Изменить", "mnuEdit", "~/Images/editdoc_x16.png");
            item.NavigateUrl = "javascript:editAgent();";
            item.ToolTip = "Изменить данные о текущей компаний";

            item = group.Items.Add("Управление", "mnuControl", "~/Images/sys_config.png");
            item.NavigateUrl = "javascript:ControlMyDepatment();";
            item.ToolTip = "Управление компанией";
        }

        if (haveView)
        {
            item = group.Items.Add("Просмотр", "mnuPreview", "~/Images/editdocalice_x16.png");
            item.NavigateUrl = "javascript:previewRow('MyDepatment');";
            item.ToolTip = "Просмотр данных о нашем предприятии";
        }
        if (haveDelete)
        {
            item = group.Items.Add("Удалить", "mnuDelete", "~/Images/delete_x16.png");
            item.NavigateUrl = "javascript:deleteAgent('MyDepatment');";
            item.ToolTip = "Удалить данные о текущей компании";
        }
        
        item = group.Items.Add("Обновить", "mnuRefresh", "~/Images/refresh_x16.png");
        item.ToolTip = "Обновить данные в списке компаний. Рекомендуемое действие вместо обновления страницы.";
        item.NavigateUrl = "javascript:dxGridViewAgents.PerformCallback('refresh=true');";

        if (haveEdit)
        {
            item = group.Items.Add();
            item.SetTemplateContent(s => ViewContext.Writer.Write("<hr>"));

            item = group.Items.Add("Установить состояние \"Активен\"", "mnuStateActive", "~/Images/state_active_x16.png");
            item.ToolTip = "Установка данного состояния возможная только при текущем состоянии не соответствующего \"Активному\" - например данное действие имеет смысл для требующих корректировки, запрещенных или удаленных корреспондентов";
            item.NavigateUrl = "javascript:changeState(1, 'MyDepatment');";

            item = group.Items.Add("Требовать корректировки", "mnuStateNeedCorrect", "~/Images/state_needcorrect_x16.png");
            item.ToolTip = "Установка данного состояния возможная только при текущем состоянии не соответствующего \"Требовующего корректировки\" - например данное действие имеет смысл для ативных корреспондентов, чтобы в дальшейшем откорректировать корреспондента";
            item.NavigateUrl = "javascript:changeState(2, 'MyDepatment');";

            item = group.Items.Add("\"Запрещен\"", "mnuStateBan", "~/Images/state_ban_x16.png");
            item.ToolTip = "Установка данного состояния возможная только при текущем состоянии не соответствующего \"Запрещеному\" - например данное действие имеет смысл для для блокировки корреспондента по каким-либо причинам";
            item.NavigateUrl = "javascript:changeState(4, 'MyDepatment');";
        }
    });
    
    nbsettings.Groups.Add(group => {
        group.Text = "Фильтр";
        group.Expanded = false;
        group.ItemStyle.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(2);
        group.ItemStyle.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(2);
        group.ItemStyle.HoverStyle.Font.Bold = true;
        group.ItemStyle.HoverStyle.Font.Underline = true;
        group.ItemStyle.SelectedStyle.Font.Bold = true;
        group.HeaderImage.Url = Url.Content("~/Images/filter_x16.png");

        MVCxNavBarItem item = group.Items.Add("Только активные", "mnuFilterActive", "~/Images/filter_state_active_x16.png");
        item.ToolTip = "Отображать в списке только активные данные";
        item.NavigateUrl = "javascript:ShowOnlyActive();";
        
        item = group.Items.Add("Требующие корректировки", "mnuFilterCorrect", "~/Images/filter_state_needcorrect_x16.png");
        item.ToolTip = "Отображать в списке только требующие корректировки данные";
        item.NavigateUrl = "javascript:ShowOnlyNotDone()";
        
        item = group.Items.Add("Только запрещенные", "mnuFilterBan", "~/Images/filter_state_ban_x16.png");
        item.ToolTip = "Отображать в списке только требующие запрещенные данные";
        item.NavigateUrl = "javascript:ShowOnlyDenyed();";
        
        item = group.Items.Add("Корзина", "mnuFilterDeleted", "~/Images/filter_state_deleted_x16.png");
        item.ToolTip = "Отображать в списке только удаленные данные";
        item.NavigateUrl = "javascript:ShowOnlyDeleted()";
    });
    nbsettings.Groups.Add(group =>
    {
        group.Text = "Отчеты";
        group.Expanded = false;
        group.ItemLinkMode = GroupItemLinkMode.TextAndImage;
        group.ItemStyle.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(2);
        group.ItemStyle.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(2);
        group.ItemStyle.CssClass = "navpanellink";
        group.HeaderImage.Url = Url.Content("~/Images/REPORT_X16.png");

        MVCxNavBarItem item = group.Items.Add("Microsoft Excel", "mnuExportToXLSX", "~/Images/FILEEXCEL_X16.png");
        item.ToolTip = "Экспорт списка документов в Microsoft Excel";
        item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "MyDepatment", Action = "ExportTo", type = "XLSX", subtype = Url.RequestContext.RouteData.Values["action"] });
        
        item = group.Items.Add("Adobe PDF", "mnuExportToPDF", "~/Images/FILEPDF_X16.png");
        item.ToolTip = "Экспорт списка документов в Adobe PDF";
        item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "MyDepatment", Action = "ExportTo", type = "PDF", subtype = Url.RequestContext.RouteData.Values["action"] });

        if (WADataProvider.HiearchyElementRightView.IsAllow(Right.VIEW, WebModuleNames.WEB_REPORTS))
        {
            item = group.Items.Add("Перейти в отчеты...", "mnuReportNavToReportsMain", "~/Images/arrowgreen.png");
            item.ToolTip = "Перейти в раздел отчетов...";
            item.NavigateUrl = Url.Action("Index", new { area = "Reports", Controller = "Report" });
        }
    });
    nbsettings.Groups.Add(group =>
    {
        group.Text = "Сервис";
        group.Name = "grpSettings";
        group.ItemLinkMode = GroupItemLinkMode.TextAndImage;
        group.ItemStyle.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(2);
        group.ItemStyle.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(2);
        group.Expanded = false;
        group.HeaderImage.Url = Url.Content("~/Images/settings_x16.png");

        group.SetContentTemplateContent(c => Html.RenderPartial("SettingsPartial", new ViewDataDictionary { { "GridName", "dxGridViewAgents" } }));
    });
}).GetHtml()
</div>