@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table style="width: 100%; height: 100%; margin-top: 100px;">
    <tr>
        <td style="width: 50%;">
        </td>
        <td>
            @Html.DevExpress().RoundPanel(setting =>
            {
                setting.Theme = "RedWine";
                setting.Width = System.Web.UI.WebControls.Unit.Pixel(500);
                setting.HeaderText = "Востановление пароля";
                setting.SetContent(() =>
                    {
                        ViewContext.Writer.Write("<p>Пароль выслан на Вашу почту</p>");

                        Html.DevExpress().Button(s =>
                        {
                            s.Name = "btnBack";
                            s.Theme = "RedWine";
                            s.Text = "Назад";
                            s.ClientSideEvents.Click = "function(s,e){window.location = '" + Url.Action("LogOn") + "';}";
                        }).Render();
                    });
            }).GetHtml()
        </td>
        <td style="width: 50%;">            
        </td>
    </tr>
</table>
