@*http://captchamvc.codeplex.com/*@
@*http://www.tkglaser.net/2011/10/google-recaptcha-in-aspnet-mvc-3-using.html*@
@*http://www.codeproject.com/Articles/313153/ASP-NET-MVC-reCAPTCHA-Email-Confirmation*@
@using System.Web.UI.WebControls;
@using Recaptcha
@model DocumentsWeb.Models.RestoreModel

@{
    ViewBag.Title = "Востановление пароля...";
}

@using (Html.BeginForm("RestorePassword", "Account", FormMethod.Post, new { @class = "edit_form", @id = "editForm" }))
{
    <table style="width: 100%; height: 100%; margin-top: 100px;">
        <tr>
            <td style="width: 50%;">
            </td>
            <td>
                @Html.DevExpress().RoundPanel(s =>
                    {
                        s.Theme = "RedWine";
                        s.Width = Unit.Pixel(500);
                        s.HeaderText = "Востановление пароля";
                        s.SetContent(() =>
                            {
                                ViewContext.Writer.Write("<table style=\"width: 100%; height: 100%;\" border=0>");

                                ViewContext.Writer.Write("<tr><td style=\"width:100px;\" colspan='2'>"); //
                                ViewContext.Writer.Write(ViewBag.Message as string);
                                ViewContext.Writer.Write("</td></tr>"); //

                                ViewContext.Writer.Write("<tr><td style=\"width:100px;\">"); //
                                Html.DevExpress().Label(ls =>
                                    {
                                        ls.Theme = "RedWine";
                                        ls.Text = "Email:";
                                        ls.ToolTip = "E-mail пользователя на который будет выслан Ваш текущий пароль";
                                        ls.Width = Unit.Percentage(100);
                                    }).Render();
                                ViewContext.Writer.Write("</td><td>");
                                Html.DevExpress().TextBox(ts =>
                                    {
                                        ts.Theme = "RedWine";
                                        ts.Name = "Email";
                                        ts.ToolTip = "E-mail пользователя на который будет выслан Ваш текущий пароль";
                                        ts.Width = Unit.Percentage(100);
                                        ts.Text = "";
                                    }).Render();
                                ViewContext.Writer.Write("</td></tr>");
                                ViewContext.Writer.Write("<tr><td></td><td style=\"width: 100%;\">");                                

                                ViewContext.Writer.Write(Html.GenerateCaptcha());
                                
                                ViewContext.Writer.Write("</td></tr>");

                                ViewContext.Writer.Write("<tr><td></td>");
                    

                                ViewContext.Writer.Write("<td style=\"float: right;width: 100%;\">");
                                @Html.DevExpress().Button(settings =>
                                    {
                                        settings.Theme = "RedWine";
                                        settings.Name = "btnOk";
                                        settings.Text = "Востановить";
                                        settings.ToolTip = "Отправить Ваш текущий пароль на указанный адрес";
                                        settings.UseSubmitBehavior = true;
                                    }).Render();
                                ViewContext.Writer.Write("</td></tr>");

                    
        
                                ViewContext.Writer.Write("</table>");

                    
                            });
                    }).GetHtml()
            </td>
            <td style="width: 50%;">            
            </td>
        </tr>
    </table>
    
}