@using System.Globalization
@using BusinessObjects
@using DevExpress.Web.Mvc.UI
@using DocumentsWeb.Areas.General.Models

@using BusinessObjects.Security
@using BusinessObjects.Web.Core
@using DocumentsWeb.Models

@{
    bool haveCreate = WADataProvider.LibrariesElementRightView.IsAllow(Right.UICREATE, WebModuleNames.WEB_TIMEPERIODS) && !WADataProvider.CommonRightView.ReadOnly;
    bool haveEdit = WADataProvider.LibrariesElementRightView.IsAllow(Right.UIEDIT, WebModuleNames.WEB_TIMEPERIODS) && !WADataProvider.CommonRightView.ReadOnly;
    bool haveDelete = WADataProvider.LibrariesElementRightView.IsAllow(Right.UITRASH, WebModuleNames.WEB_TIMEPERIODS) && !WADataProvider.CommonRightView.ReadOnly;
    bool haveView = WADataProvider.LibrariesElementRightView.IsAllow(Right.UIVIEW, WebModuleNames.WEB_TIMEPERIODS);
}

@Html.DevExpress().GridView( settings => 
{
    settings.Name = "dxGridViewTimePeriods";
    settings.CallbackRouteValues = new { Area = "General", Controller = "TimePeriod", Action = "IndexPartial" };
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.KeyFieldName = GlobalPropertyNames.Id;
    settings.ClientVisible = false;
    settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;


    settings.SettingsBehavior.AllowFocusedRow = true;

    settings.Settings.ShowGroupPanel = DocumentsWeb.Code.LayoutHelper.GetCurrentSetting(Url.RequestContext.RouteData.Values["controller"].ToString()).Current.ShowGroupPanel;
    settings.Settings.ShowFooter = true;
    settings.Settings.ShowFilterRow = DocumentsWeb.Code.LayoutHelper.GetCurrentSetting(Url.RequestContext.RouteData.Values["controller"].ToString()).Current.ShowFilterPanel;
    settings.Settings.ShowFilterRowMenu = true;
    settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
    settings.Settings.ShowVerticalScrollBar = true;

    settings.SettingsPager.PageSize = Utils.GetPageSize(settings);
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Top;
    settings.SettingsPager.AlwaysShowPager = true;

    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.SettingsPopup.CustomizationWindow.VerticalAlign = PopupVerticalAlign.Below;
    settings.SettingsPopup.CustomizationWindow.HorizontalAlign = PopupHorizontalAlign.OutsideRight;

    settings.Settings.ShowVerticalScrollBar = true;
    settings.Settings.ShowHorizontalScrollBar = true;

    settings.KeyboardSupport = true;

    settings.Styles.Cell.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(2);
    settings.Columns.Add(cc =>
    {
        cc.Name = "colImageAction";
        cc.Width = System.Web.UI.WebControls.Unit.Pixel(35);
        cc.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        cc.Settings.AllowDragDrop = DefaultBoolean.False;
        cc.Settings.AllowSort = DefaultBoolean.False;
        cc.ShowInCustomizationForm = false;
        cc.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
        cc.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<table><tr>");
            ViewContext.Writer.Write("<td>");
            Html.DevExpress().HyperLink(hl =>
            {
                hl.Properties.ImageUrl = Url.Content("~/Images/edit10x10.png");
                hl.ToolTip = "Изменить данные о графике работы и перерыва";
                hl.NavigateUrl = "javascript:ShowPopupEdit(" + DataBinder.Eval(c.DataItem, "Id") + ");";
                hl.Enabled = haveEdit;
            }).Render();
            ViewContext.Writer.Write("</td><td>");
            Html.DevExpress().HyperLink(hl =>
            {
                hl.Properties.ImageUrl = Url.Content("~/Images/DELETEDELEMENT_X16.png");
                hl.ToolTip = "Удалить данные о графике работы и перерыва";
                hl.NavigateUrl = "javascript:deleteRow(" + c.ItemIndex.ToString(CultureInfo.InvariantCulture) + ");";
                hl.Enabled = haveDelete;
            }).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
    });
    
    if (User.IsInRole(Uid.GROUP_GROUPWEBADMIN))
    {
        settings.Columns.Add(col =>
        {
            col.Caption = "Ид";
            col.FieldName = GlobalPropertyNames.Id;
            col.Visible = false;
            col.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
            col.Width = 100;
        });
    }
    settings.Columns.Add(column =>
    {
        column.Caption = "Код";
        column.FieldName = GlobalPropertyNames.Code;
        column.Width = 50;
        column.Settings.AllowAutoFilter = DefaultBoolean.True;
        column.Settings.AutoFilterCondition = AutoFilterCondition.BeginsWith;
        column.Visible = false;
    });
    
    if (DocumentsWeb.Code.LayoutHelper.GetCurrentSetting(Url.RequestContext.RouteData.Values["controller"].ToString()).Current.ShowLinkInName)
    {
        settings.Columns.Add(col =>
        {
            col.FieldName = GlobalPropertyNames.Name;
            col.Caption = "Имя";
            col.Width = 350;
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            col.SetDataItemTemplateContent(c =>
            {
                Html.DevExpress().HyperLink(s =>
                {
                    s.Properties.Text = (string)DataBinder.Eval(c.DataItem, "Name");
                    int id = (int)DataBinder.Eval(c.DataItem, "Id");
                    s.NavigateUrl = "javascript:ShowPopupEdit(" + id + ")";
                    s.ToolTip = "Изменить данные о банке";

                }).Render();
            });
        });
    }
    else
    {
        settings.Columns.Add(col =>
        {
            col.FieldName = GlobalPropertyNames.Name;
            col.Caption = "Имя";
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            col.Width = 350;
        });
    }

    settings.Columns.Add(column =>
    {
        column.FieldName = "Memo";
        column.Caption = "Примечание";
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Width = 400;
    });
    
    settings.Columns.Add(col =>
    {
        col.FieldName = "KindName";
        col.Caption = "Подтип";
        col.Settings.AutoFilterCondition = AutoFilterCondition.BeginsWith;
        col.Width = 150;
    });

    if (DocumentsWeb.Models.WADataProvider.CurrentUserCompanyMultyCount())
    {
        settings.Columns.Add(col =>
        {
            col.FieldName = GlobalPropertyNames.MyCompanyName;
            col.Caption = "Компания";
            col.Settings.AutoFilterCondition = AutoFilterCondition.BeginsWith;
            col.Width = 200;
        });
    }
    
    settings.Columns.Add(col =>
    {
        col.FieldName = GlobalPropertyNames.StateName;
        col.Caption = "Состояние";
        col.Settings.AutoFilterCondition = AutoFilterCondition.BeginsWith;
        col.Width = 75;
    });
    settings.Columns.Add(col =>
    {
        col.Caption = "Ид состояния";
        col.FieldName = GlobalPropertyNames.StateId;
        col.Width = 75;
        col.Visible = false;
    });

    MVCxGridViewColumn col_DateModified = settings.Columns.Add(GlobalPropertyNames.DateModified, "Дата изменения");
    col_DateModified.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
    col_DateModified.Width = 150;
    col_DateModified.Visible = false;
    col_DateModified.ColumnType = MVCxGridViewColumnType.DateEdit;
    col_DateModified.PropertiesEdit.DisplayFormatString = "dd.MM.yyyy hh:mm";
    col_DateModified.Settings.AutoFilterCondition = AutoFilterCondition.GreaterOrEqual;

    MVCxGridViewColumn col_UserName = settings.Columns.Add(GlobalPropertyNames.UserName, "Пользователь");
    col_UserName.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
    col_UserName.Width = 100;
    col_UserName.Visible = false;

    
    settings.SetPagerBarTemplateContent(c =>
    {
        Html.RenderPartial("TablePager", new ViewDataDictionary
        {
            { "ContentObject", c },
            { "TableCaption", "<b><a href=\"" + Url.Action("Index", new { area = "Analitics", controller = "Home", action = "Index" }) + "\"  title=\"Перейти к выбору всех справочников имеющих отношение к аналитике\">Аналитика</a>\\Графики работ и перерыва</b>" }
        });
    });

    settings.SettingsCookies.Enabled = true;
    settings.SettingsCookies.CookiesID = Url.RequestContext.RouteData.Values["controller"] + "Grid";

    settings.ClientSideEvents.EndCallback = "function(s, e) { AdjustGridSize(); }";
    settings.ClientSideEvents.Init = "function(s, e) { window.setTimeout(AdjustGridSize, 12);}";
    settings.ClientSideEvents.ColumnResizing = "function (s, e) {if (e.column.name == 'colImageAction') {e.cancel = true;}}";
    
    settings.CustomCallback = (sender, e) =>
    {
        MVCxGridView grid = (MVCxGridView)sender;
        string refreshArg = e.Parameters.Split('&').FirstOrDefault(s => s.StartsWith("refresh"));
        bool refresh = (refreshArg != null) && (refreshArg.EndsWith("true"));
        if (refresh)
        {
            grid.DataSource = TimePeriodModel.GetCollection();
            grid.DataBind();
        }
    };
}).Bind(Model).GetHtml()