@using System.Data
@using System.Globalization
@using BusinessObjects
@using DocumentsWeb.Models
@{
    bool haveEdit = WADataProvider.FolderElementRightView.IsAllow(BusinessObjects.Security.Right.DOCEDIT, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SALES_OUT_NDS).Id);
    bool haveDelete = WADataProvider.FolderElementRightView.IsAllow(BusinessObjects.Security.Right.DOCTRASH, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SALES_OUT_NDS).Id);
    bool haveView = WADataProvider.FolderElementRightView.IsAllow(BusinessObjects.Security.Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SALES_OUT_NDS).Id);
    int imageColumnWith = 0;
    if (haveView || haveEdit)
    {
        imageColumnWith = imageColumnWith + 20;
    }
    if (haveDelete)
    {
        imageColumnWith = imageColumnWith + 20;
    }
}

            @Html.DevExpress().GridView(settings=>{
                                                settings.Settings.ShowTitlePanel = false;
                                                settings.ClientVisible = false;
                                                settings.Name = "gvSalesDocuments";
                                                settings.Settings.ShowHeaderFilterButton = true;
                                                settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
                                                settings.SettingsBehavior.EnableCustomizationWindow = true;
                                                settings.SettingsPopup.CustomizationWindow.VerticalAlign = PopupVerticalAlign.Below;
                                                settings.SettingsPopup.CustomizationWindow.HorizontalAlign = PopupHorizontalAlign.OutsideRight;
                                                settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
                                                
                                                settings.ClientSideEvents.Init = "function (s, e) { var height = splFullScreenMode.GetPane(0).GetClientHeight(); s.SetHeight(height); }";
                                                settings.ClientSideEvents.EndCallback = "function (s, e) { var height = splFullScreenMode.GetPane(0).GetClientHeight(); s.SetHeight(height); }";
                                                settings.CallbackRouteValues = new { Controller = "ViewListOutNds", Action = "IndexPartial" };
                                                settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "ViewListOutNds", Action = "ToTrash" };
                                                settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
                                                settings.SettingsBehavior.AllowFocusedRow = true;
                                                settings.KeyFieldName = GlobalPropertyNames.Id;
                                                settings.Settings.ShowGroupPanel = DocumentsWeb.Code.LayoutHelper.GetCurrentSetting(Url.RequestContext.RouteData.Values["controller"].ToString()).Current.ShowGroupPanel;
                                                settings.Settings.ShowFooter = true;
                                                settings.Settings.ShowFilterRow = DocumentsWeb.Code.LayoutHelper.GetCurrentSetting(Url.RequestContext.RouteData.Values["controller"].ToString()).Current.ShowFilterPanel;
                                                settings.Settings.ShowFilterRowMenu = true;
                                                settings.SettingsPager.PageSize = Utils.GetPageSize(settings);
                                                settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Top;
                                                settings.SettingsPager.AlwaysShowPager = true;
                                                settings.SetPagerBarTemplateContent(c => Html.RenderPartial("TablePager", new ViewDataDictionary
                                                    {
                                                        { "ContentObject", c },
                                                        { "TableCaption", "<b><a href=\"" + Url.Action("Index", new { Controller = "Home", Action = "Index" }) + "\">Управление продажами</a>\\Расходные накладные</b>" }
                                                    }));
                                                
                                                settings.Settings.ShowVerticalScrollBar = true;
                                                settings.Settings.ShowHorizontalScrollBar = true;
                                                settings.Styles.Cell.Font.Size = System.Web.UI.WebControls.FontUnit.Point(11);
                                                settings.Styles.Cell.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
                                                settings.Styles.Cell.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    
                                                settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                                                    settings.Columns.Add(cc =>
                                                    {
                                                        cc.Name = "colImageAction";
                                                        cc.Settings.AllowDragDrop = DefaultBoolean.False;
                                                        cc.Settings.AllowSort = DefaultBoolean.False;
                                                        cc.Width = System.Web.UI.WebControls.Unit.Pixel(imageColumnWith + 5);
                                                        cc.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                                        cc.SetDataItemTemplateContent(c =>
                                                        {
                                                            string icon = (int)DataBinder.Eval(c.DataItem, "StateId") == State.STATEACTIVE
                                                                                ? Url.Content("~/Images/DOCUMENTDONE_X16.png")
                                                                                : Url.Content("~/Images/DOCUMENTNOTDONE_X16.png");

                                                            Html.DevExpress().HyperLink(linkSettings =>
                                                            {
                                                                linkSettings.Properties.ImageUrl = icon;
                                                                linkSettings.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "SaleOut", Action = "Edit", Id = DataBinder.Eval(c.DataItem, "Id") });
                                                                linkSettings.Properties.Target = "_blank";
                                                                linkSettings.ToolTip = "Просмотреть/Изменить";
                                                                linkSettings.ClientEnabled = haveEdit || haveView;
                                                                linkSettings.ClientVisible = haveEdit || haveView;
                                                            }).Render();
                                                            
                                                            Html.DevExpress().HyperLink(hl =>
                                                            {
                                                                hl.Name = "SalesDocumentDelete_" + c.ItemIndex.ToString(CultureInfo.InvariantCulture);
                                                                hl.Properties.ImageUrl = Url.Content("~/Images/delete_x16.png");
                                                                hl.ToolTip = "Удалить";
                                                                hl.NavigateUrl = "javascript:if (confirm(\"Вы уверены, что хотите удалить этот документ?\")) {gvSalesDocuments.DeleteRow(" + c.ItemIndex.ToString(CultureInfo.InvariantCulture) + ");}";
                                                                hl.ClientVisible = haveDelete;
                                                                hl.ClientEnabled = haveDelete;
                                                            }).Render();
                                                            
                                                        });
                                                    });
                                                settings.Columns.Add(column =>
                                                                         {
                                                                             column.FieldName = GlobalPropertyNames.Date;
                                                                             column.Caption = "Дата";
                                                                             column.Width = 70;
                                                                             column.PropertiesEdit.DisplayFormatString = "d";
                                                                             column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                                             column.ColumnType = MVCxGridViewColumnType.DateEdit;
                                                                         });
                                                MVCxGridViewColumn colNumber = settings.Columns.Add("DocNumber", "Номер");
                                                colNumber.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                colNumber.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                colNumber.Width = 70;
                
    
                                                settings.Columns.Add(column =>
                                                                         {
                                                                             column.FieldName = GlobalPropertyNames.DocSumma;
                                                                             column.Caption = "Сумма";
                                                                             column.Width = 100;
                                                                             column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                                                                             column.PropertiesEdit.DisplayFormatString = "0.00";
                                                                             column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                                         });


                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = GlobalPropertyNames.AgentDepartmentFromName;
                                                    column.Caption = "Кто";
                                                    column.Width = 300;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                });
                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = GlobalPropertyNames.AgentDepartmentFromId;
                                                    column.Caption = "Кто(ссылка)";
                                                    column.Width = 300;
                                                    column.ColumnType = MVCxGridViewColumnType.HyperLink;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    HyperLinkProperties colProperties = column.PropertiesEdit as HyperLinkProperties;
                                                    String urlFormatString = Url.Action("Preview", "MyDepatment", new RouteValueDictionary(new { Area = "Agents", id = "{0}" }));
                                                    colProperties.NavigateUrlFormatString = HttpUtility.UrlDecode(urlFormatString);
                                                    colProperties.Target = "_blank";
                                                    colProperties.TextField = "AgentDepartmentFromName";
                                                    column.Visible = false;
                                                });
           
                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = GlobalPropertyNames.AgentDepartmentToName;
                                                    column.Caption = "Кому";
                                                    column.Width = 300;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                });

                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = GlobalPropertyNames.AgentDepartmentToId;
                                                    column.Caption = "Кому(ссылка)";
                                                    column.Width = 300;
                                                    column.ColumnType = MVCxGridViewColumnType.HyperLink;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                    HyperLinkProperties colProperties = column.PropertiesEdit as HyperLinkProperties;
                                                    String urlFormatString = Url.Action("Preview", "Byer", new RouteValueDictionary(new { Area = "Agents", id = "{0}" }));
                                                    colProperties.NavigateUrlFormatString = HttpUtility.UrlDecode(urlFormatString);
                                                    colProperties.Target = "_blank";
                                                    colProperties.TextField = "AgentDepartmentToName";
                                                    column.Visible = false;
                                                });

                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = "SupervisorName";
                                                    column.Caption = "Супервайзер";
                                                    column.Width = 250;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                });
                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = GlobalPropertyNames.SupervisorId;
                                                    column.Caption = "Супервайзер(ссылка)";
                                                    column.Width = 250;
                                                    column.ColumnType = MVCxGridViewColumnType.HyperLink;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    HyperLinkProperties colProperties = column.PropertiesEdit as HyperLinkProperties;
                                                    String urlFormatString = Url.Action("Preview", "Worker", new RouteValueDictionary(new { Area = "Agents", id = "{0}" }));
                                                    colProperties.NavigateUrlFormatString = HttpUtility.UrlDecode(urlFormatString);
                                                    colProperties.Target = "_blank";
                                                    colProperties.TextField = "SupervisorName";
                                                    column.Visible = false;
                                                });

                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = "ManagerName";
                                                    column.Caption = "Менеджер";
                                                    column.Width = 250;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                });
           
                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = GlobalPropertyNames.ManagerId;
                                                    column.Caption = "Менеджер(ссылка)";
                                                    column.Width = 250;
                                                    column.ColumnType = MVCxGridViewColumnType.HyperLink;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    HyperLinkProperties colProperties = column.PropertiesEdit as HyperLinkProperties;
                                                    String urlFormatString = Url.Action("Preview", "Worker", new RouteValueDictionary(new { Area = "Agents", id = "{0}" }));
                                                    colProperties.NavigateUrlFormatString = HttpUtility.UrlDecode(urlFormatString);
                                                    colProperties.Target = "_blank";
                                                    colProperties.TextField = "ManagerName";
                                                    column.Visible = false;
                                                });

                                               
                                                MVCxGridViewColumn colDateShip = settings.Columns.Add(GlobalPropertyNames.DateShip, "Факт отгрузки");
                                                colDateShip.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                colDateShip.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                colDateShip.Width = 110;
           
           

                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = "StoreName";
                                                    column.Caption = "Склад";
                                                    column.Width = 250;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                });
           
                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = "BankAccFromCode";
                                                    column.Caption = "Банк отправителя";
                                                    column.Width = 250;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                });

                                                settings.Columns.Add(column =>
                                                {
                                                    column.FieldName = "BankAccToCode";
                                                    column.Caption = "Банк получателя";
                                                    column.Width = 250;
                                                    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                    column.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
                                                    column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                                                });
                                                
                                                MVCxGridViewColumn colState = settings.Columns.Add("StateName", "Состояние");
                                                colState.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                colState.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                colState.Width = 100;
                                                colState.Visible = false;

                                                MVCxGridViewColumn colStateid = settings.Columns.Add("StateId", "Ид состояния");
                                                colStateid.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                                                colStateid.CellStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Top;
                                                colStateid.Visible = false;
                                                colStateid.Width = 100;

                                                settings.SettingsCookies.Enabled = true;
                                                settings.SettingsCookies.CookiesID = Url.RequestContext.RouteData.Values["controller"] + "Grid";
                                                settings.SettingsCookies.Version = "20121012";

                                                settings.ClientSideEvents.ColumnResizing = "function (s, e) {if (e.column.name == 'colImageAction') {e.cancel = true;}}";
                                                settings.ClientSideEvents.Init = "function(s,e){s.ApplyFilter('StateId = 1');}";
                                                settings.CustomCallback = (sender, e) =>
                                                {
                                                    MVCxGridView grid = (MVCxGridView)sender;
                                                    string refreshArg = e.Parameters.Split('&').FirstOrDefault(s => s.StartsWith("refresh"));
                                                    bool refresh = (refreshArg != null) && (refreshArg.EndsWith("true"));
                                                    if (refresh)
                                                    {
                                                        grid.DataSource = SalesHelper.GetDocuments(false, Folder.CODE_FIND_SALES_OUT_NDS, true);
                                                    }
                                                    grid.SettingsPager.PageSize = Utils.GetPageSize(settings);

                                                    string showFilterRowArg = e.Parameters.Split('&').FirstOrDefault(s => s.StartsWith("ShowFilterRow"));
                                                    if (!string.IsNullOrEmpty(showFilterRowArg))
                                                    {
                                                        bool showFilterRow = showFilterRowArg.EndsWith("true");
                                                        grid.Settings.ShowFilterRow = showFilterRow;
                                                    }

                                                    string showGroupPanelArg = e.Parameters.Split('&').FirstOrDefault(s => s.StartsWith("ShowGroupPanel"));
                                                    if (!string.IsNullOrEmpty(showGroupPanelArg))
                                                    {
                                                        bool showGroupPanel = showGroupPanelArg.EndsWith("true");
                                                        grid.Settings.ShowGroupPanel = showGroupPanel;
                                                    }
                                                    grid.DataBind();
                                                };

                                                settings.HeaderFilterFillItems = (sender, e) =>
                                                {
                                                    ASPxGridView grid = (ASPxGridView)sender;
                                                    if (e.Column.FieldName == GlobalPropertyNames.AgentDepartmentToId)
                                                    {
                                                        e.Values.Clear();
                                                        if (e.Column.Settings.HeaderFilterMode == HeaderFilterMode.List)
                                                            e.AddShowAll();
                                                        DataTable tbl = Model as DataTable;
                                                        if(tbl!=null)
                                                        {
                                                            DataView view = new DataView(tbl);
                                                            DataTable distinctValues = view.ToTable(true, GlobalPropertyNames.AgentDepartmentToId, "AgentDepartmentToName");
                                                            foreach (DataRow dtRow in distinctValues.Rows)
                                                            {
                                                                e.AddValue(string.Format("{0}", dtRow["AgentDepartmentToName"]), dtRow[GlobalPropertyNames.AgentDepartmentToId].ToString());
                                                            }
                                                        }
                                                    }
                                                    else if (e.Column.FieldName == GlobalPropertyNames.AgentDepartmentFromId)
                                                    {
                                                        e.Values.Clear();
                                                        if (e.Column.Settings.HeaderFilterMode == HeaderFilterMode.List)
                                                            e.AddShowAll();
                                                        DataTable tbl = Model as DataTable;
                                                        if (tbl != null)
                                                        {
                                                            DataView view = new DataView(tbl);
                                                            DataTable distinctValues = view.ToTable(true, GlobalPropertyNames.AgentDepartmentFromId, "AgentDepartmentFromName");
                                                            foreach (DataRow dtRow in distinctValues.Rows)
                                                            {
                                                                e.AddValue(string.Format("{0}", dtRow["AgentDepartmentFromName"]), dtRow[GlobalPropertyNames.AgentDepartmentFromId].ToString());
                                                            }
                                                        }
                                                    }
                                                    if (e.Column.FieldName == GlobalPropertyNames.DocSumma)
                                                    {
                                                        e.Values.Clear();
                                                        if (e.Column.Settings.HeaderFilterMode == HeaderFilterMode.List)
                                                            e.AddShowAll();
                                                        int step = 100;
                                                        for (int i = 0; i < 10; i++)
                                                        {
                                                            double start = step * i;
                                                            double end = start + step - 0.01;
                                                            e.AddValue(string.Format("от {0} до {1}", start, end), string.Empty, string.Format("[DocSumma] >= {0} and [DocSumma] <= {1}", start, end));
                                                        }
                                                        e.AddValue(string.Format("> {0}", 1000), string.Empty, "[DocSumma] > 1000");
                                                    }
                                                };
       }).Bind(Model).GetHtml()