@using DevExpress.Web.Mvc.UI
@using DocumentsWeb.Areas.General.Models;
@using DocumentsWeb.Areas.Analitics.Models;

<div id="TreePartial" style="padding: 5px;">
    @Html.Partial("HierarchyTreeViewPartial")
</div>