<div style="width: 100%; height: 18px; margin: 3px;">
    @Html.DevExpress().Image(s =>
    {
        s.Name = "btnAddRouteMember";
        s.ImageUrl = Url.Content("~/Images/Routes/add_x16.png");
        s.ToolTip = "Создать участника маршрута";
        s.Properties.Style.Cursor = "pointer";
        s.Properties.ClientSideEvents.Click = "function(s, e) { editRouteMember(0); }";
    }).GetHtml()
    @Html.DevExpress().Image(s =>
    {
        s.Name = "btnEditRouteMember";
        s.ImageUrl = Url.Content("~/Images/Routes/edit_x16.png");
        s.ToolTip = "Редактировать участника маршрута";
        s.Properties.Style.Cursor = "pointer";
        s.Properties.ClientSideEvents.Click = "function(s, e) { var id = gvRouteMemberList.GetRowKey(gvRouteMemberList.GetFocusedRowIndex()); if (id != null) editRouteMember(id); }";
    }).GetHtml()
    @Html.DevExpress().Image(s =>
    {
        s.Name = "btnRemoveRouteMember";
        s.ImageUrl = Url.Content("~/Images/Routes/delete_x16.png");
        s.ToolTip = "Удалить участника маршрута";
        s.Properties.Style.Cursor = "pointer";
        s.Properties.ClientSideEvents.Click = "function(s, e) { var id = gvRouteMemberList.GetRowKey(gvRouteMemberList.GetFocusedRowIndex()); if (id != null) deleteRouteMember(id); }";
    }).GetHtml()
</div>